<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/output.css" />
    <title>API MOVIE TMDB</title>
  </head>
  <body>
    <div class="flex gap-3 flex-col justify-center items-center h-screen">
      <h1 class="font-semibold 2xl">WELCOME TO API MOVIE TMDB</h1>
      <small>to get started please read on <a href="/docs">/docs</a></small>
    </div>
  </body>
</html>
